@model IEnumerable<ProductionApp.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<div class="row" id="tblLoader">
    <div class="col-md-12 card card-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h4>Product List</h4>
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("AddOrUpdate")" class="btn btn-success">New</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <table id="tblProductList" class="table table-bordered table-hover table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th width="10%">SL#</th>
                            <th width="10%">Id</th>
                            <th width="70%">Name</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sl = 0;
                            foreach (Product item in Model)
                            {
                                sl++;
                                <tr>
                                    <td>@sl</td>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a href="@Url.Action("AddOrUpdate")" class="btn btn-warning">Edit</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>
@section scripts{
    <script>

        $(document).ready(function() {


        });




        function WaitForMe(div, message) {
            $(div).waitMe({
                effect: 'win8',
                text: message,
                bg: 'rgba(255,255,255,0.7)',
                color: '#000000',
                maxSize: 30,
                waitTime: -1,
                textPos: 'vertical',
                fontSize: '',
                source: '',
                onClose: function() { }
            })
        }
        function hideWaitForMe(div) {
            $(div).waitMe("hide");
        }
    </script>
}

